// @import url('//fonts.googleapis.com/css?family=Merienda');


@import "./theme";
@keyframes slideup {

  0% {
    border: 2px solid white;

      height: 97vh;
      transform: translateY(0px) translateX(0px) skewX(10deg);
      will-change: transform;
  }
    100% {
      // border: 2px solid white;

      height: 97vh;
        transform: translateY(1000px) translateX(178px) skewX(10deg);;
        will-change: transform;
    }

  }
@keyframes slide-down {

    0%{
        transform: translateY(-1000px) translateX(-178px) skewX(10deg);;
        will-change: transform;
      }

    100% {

        transform: translateY(0px) translateX(0px) skewX(10deg);
        will-change: transform;
    }
  }
  @media (max-width: 992px) {
    .land{
      width: 97vw;
      height:inherit !important;
      -webkit-transform: skewY(10deg);
      transform: skewY(10deg) !important;
      .material-icons{
        // transform: skewY(-10deg) !important;
      }
      // width: 80vw;
    }
    .navbar-collapse.coll{
      // width: 100vw !important;
      background-color: transparent !important;
      // display: flex;
      // align-items: center;
    }
  }
.land{
  font-size: 2.5rem;
  border: 2px solid white;
  box-sizing: border-box;
  box-shadow: inset 0 0 0 2px transparent;
  margin: 0.5rem;
  color: $black;
  padding: 10px;
  text-decoration: none !important;
  // .material-icons{
  // }
  // font-family: 'Merienda', cursive ;
  // font-size: 10px;
  margin-bottom: 0px !important;
  position: relative;
  -webkit-transform: skewX(10deg);
  transform: skewX(10deg);
  height: 97vh;
  transition: all 200ms ease;
  // background-color:#B80000 ;

  display: flex;
  align-items: center;
  // animation: slide-down 500ms ease-out alternate;

  .material-icons{
    transform: skewX(-10deg);

  }
}
.land:active{
  color: white;
}
.land:hover{
  background-color: red;
  color: white;
  transform: translateY(-20px) translateX(-4px) skewX(10deg);
  transition:  all 250ms ease;
}
.dcontent-wradpper{
  z-index: 2;
}
.navbar{
  background-color: transparent !important;
  animation: slide-up 0.3s ease;

}
.nav-link.nav-btn-active{
  animation: none !important;
  background-color: red;

}
.nav-link{
  // animation: slideup 500ms ease-out;
  // border: 2px solid transparent;
  -webkit-transform: skewX(0deg);
  transform: skewX(0deg);
  height: 80px;
  transition: all 200ms ease;
  font-size: 2.5rem;
  box-sizing: border-box;
  box-shadow: inset 0 0 0 2px transparent;
  margin: 0.5rem;
  color: $black;
  // font-family: 'Merienda', cursive ;
  // font-size: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 0px !important;
  position: relative;
  // transition: all 0.25s;
}
.nav-link:hover {
  transition: all 0.25s;
  color: $white;
  text-shadow:
  -1px -1px 0 $mycyan,
  1px -1px 0 $mycyan,
  -1px 1px 0 $mycyan,
  1px 1px 0 $mycyan;
}
.nav-btn-active{
  transition: all 200ms ease;
  color: $white;
  text-shadow:
  -1px -1px 0 $mycyan,
  1px -1px 0 $mycyan,
  -1px 1px 0 $mycyan,
  1px 1px 0 $mycyan;
}
///////////////////////////////////////
//////////////////////////////////////

.nav-link::after, .nav-link::before {
  box-sizing: inherit;
  content: '';
  position: absolute;
  border: 2px solid transparent;
  width: 0%;
  height: 0%;

}

.nav-link::before {
  top: 0;
  left: 0;
  transition: border 0.1s ease-in 0.25s, width 0.25s ease-out 0.25s, height 0.25s ease-out;


}
.nav-link::after {
  bottom: 0;
  right: 0;
  transition: border 0.1s ease-out 0.75s, width 0.25s ease-out 0.75s, height 0.25s ease-out 0.5s;


}

.nav-btn-active::after, .nav-btn-active::before {
  width: 100%;
  height: 100%;
  //transition: width .3s;
}
.nav-btn-active::before {
  border-top-color: $mycyan;
  border-right-color: $mycyan;
  transition: width 0.25s ease-out , height 0.25s ease-out 0.25s;
}
.nav-btn-active:after {
  border-bottom-color: $mycyan;
  border-left-color: $mycyan;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}

.nav-link::after {
  top: 0;
  left: 0;
  transition:border 0.1s ease-in 0.25s, height 0.25s ease-out 0.25s, width 0.25s ease-out;

}

.nav-btn-active::after {

  transition: height 0.25s ease-out, width 0.25s ease-out 0.25s;
}
.material-icons{
  transform: skewX(0deg);
  transition: all 200ms ease;
}
