@import "./theme";
/* width */
::-webkit-scrollbar {
    width: 3px;
    // margin-right: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $mycyan;


}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: cyan;
    transition: background 400s;

}
